@media screen and (max-width: 1024px) {
  #navbar {
    height: 10vh;
    padding: 0 1.3em;
  }

  .launch-btn {
    display: none;
  }

  .video-bg {
    display: none;
  }
  .phone-bg {
    width: 100%;
    object-fit: cover;
    display: block;
    object-position: 80% 50%;
  }

  #nav-items .socials .social {
    height: 30px;
  }

  #container {
    height: 90vh;
  }

  #content {
    width: 90%;
    gap: 2em;
  }

  #content > .heading {
    font-size: 50px;
    line-height: 1.2em;
  }

  #content > .description {
    font-size: 20px;
    text-align: center;
  }

  .launch-btn-main {
    font-size: 16px;
    padding: 11px 25px;
  }

  .join-btn-main {
    font-size: 16px;
    padding: 11px 25px;
  }

  #coming-soon {
    overflow: hidden;
  }

  #coming-soon > video {
    width: 100%;
    height: 30%;
    object-fit: cover;
  }

  #coming-soon > h1 {
    font-size: 40px;
  }
}
