* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  overflow: hidden;
}

#landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

#navbar {
  border: none;
  outline: none;
  height: 12vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: nowrap;
  padding: 0 2.6em;
}

#left #logo {
  display: flex;
  align-items: center;
}

#left #logo img {
  margin-right: 10px;
  height: 35px;
}

#right #nav-items {
  display: flex;
  align-items: center;
  gap: 1em;
}

#right #nav-items #nav-elems {
  display: flex;
  align-items: center;
  gap: 0.8em;
  display: none;
}

#right #nav-items #nav-elems a {
  text-decoration: none;
  font-size: 14.5px;
}

.select .select-dropbox {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #ffffff25;
  display: none;
}

.launch-btn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 12px 24px;
  border-radius: 25px;
  background-color: #7ccbfc37;
}

.launch-btn:hover {
  background: rgb(58, 186, 205);
  background: linear-gradient(
    9deg,
    rgba(58, 186, 205, 1) 24%,
    rgba(88, 109, 218, 1) 54%,
    rgba(101, 76, 224, 1) 100%
  );
}

#nav-items > .menu {
  margin-top: 10px;
  color: white;
  display: none;
}

#nav-items a {
  text-decoration: none;
}

/*-------------- main page------------- */

#container {
  position: relative;
  height: 88vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.video-bg {
  inset: 0 auto;
  width: 100%;
}

.video-bg > video {
  pointer-events: none;
  border: none;
  outline: none;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.phone-bg {
  display: none;
}

#content {
  position: absolute;
  width: 37%;
  /* background-color: red;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

#content > .heading {
  color: #cbcbc8;
  mix-blend-mode: difference;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: 5rem;
}

#content > .heading span {
  font-style: italic;
}

#content > .description {
  color: #cbcbc8;
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

#content .coming-soon-main {
  font-size: 2rem;
  text-transform: uppercase;
  mix-blend-mode: difference;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}

.buttons > a {
  text-decoration: none;
}

.launch-btn-main {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 46px;
  border-radius: 30px;
  background-color: #7ccbfc37;
  transition: all ease 1s;
}

.join-btn-main {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 46px;
  border-radius: 30px;
  background-color: #7ccbfc37;
  transition: all ease 1s;
}

.launch-btn-main:hover {
  background: rgb(58, 186, 205);
  background: linear-gradient(
    9deg,
    rgba(58, 186, 205, 1) 24%,
    rgba(88, 109, 218, 1) 54%,
    rgba(101, 76, 224, 1) 100%
  );
}

.join-btn-main:hover {
  background: rgb(58, 186, 205);
  background: linear-gradient(
    9deg,
    rgba(58, 186, 205, 1) 24%,
    rgba(88, 109, 218, 1) 54%,
    rgba(101, 76, 224, 1) 100%
  );
}

/* ---------coming soon----------- */

#coming-soon {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#coming-soon video {
  object-fit: cover;
  position: absolute;
}

#coming-soon h1 {
  position: absolute;
  font-size: 80px;
  mix-blend-mode: difference;
}

#coming-soon .social-btns{
  position: absolute;
  display: flex;
  gap: 2em;
  bottom: 5%;
  background-color: rgba(234, 233, 233, 0.402)(231, 231, 231);
  padding: 1em 2.5em;
  border-radius: 20px;
  border: 1px solid white;
  mix-blend-mode: difference;
}

#coming-soon .social-btns a{
  text-decoration: none;
}